fastapi
uvicorn
sqlalchemy
sqlalchemy-utils
alembic
psycopg2-binary
pydantic
pydantic_settings
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
crewai
crewai-tools
langchain
openai
asyncpg
colorlog
colorama
greenlet
asyncpg